
<ion-header>
  <app-toolbar-menu title="Preparing Orders">
  </app-toolbar-menu>

</ion-header>
<ion-content [fullscreen]="true" scrollbar>

  <ion-card *ngFor="let prep of (preparingOrders$| async); let i = index">
    <ion-card-header style="padding: 10px;">
      <ion-card-title style="display: flex; align-items: center; justify-content: space-between;">
        <div>
          Preparing Order
        </div>
        <h5>
          {{prep.timestamp | date : 'MMM d, y h:mm a'}}
        </h5>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="prep.clientInfo.profilePic" />
        </ion-avatar>
        <ion-label>
          <h4>
            From:
          </h4>
          <h1>
            {{prep.clientInfo.fullname.first}} {{prep.clientInfo.fullname.middleInitial}} {{prep.clientInfo.fullname.last}}
          </h1>
        </ion-label>
      </ion-item>
<!--
      <div style="padding: 10px;">
        <div>
          From:
        </div>
        <h1>
          {{pend.clientInfo.fullname.first}} {{pend.clientInfo.fullname.middleInitial}} {{pend.clientInfo.fullname.last}}
        </h1>
      </div> -->

        <ion-item lines="none" class="client-item" ><!--style="padding: 10px 10px 0 20px;"-->
          <ion-icon name="navigate-circle-outline" slot="start"></ion-icon>
          <ion-label class="ion-no-margin">
            <h3>Address:</h3>
            <p>
             {{prep.address.completeAddress}}
            </p>
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="client-item" ><!--style="padding: 0 10px 0 20px;"-->
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label class="ion-no-margin">
            <h3>Phone:</h3>
            <p>
              {{prep.clientInfo.mobile_no}}
            </p>
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="client-item" ><!--style="padding: 0 10px 0 20px;"-->
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label class="ion-no-margin">
            <h3>Email:</h3>
            <p>
              {{prep.clientInfo?.email}}
            </p>
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="client-item" ><!--style="padding: 0 10px 10px 20px;"-->
          <ion-icon [name]="prep.deliveryMethod === 'pickup'? 'hand-left-outline': 'car-outline'" slot="start"></ion-icon>
          <ion-label class="ion-no-margin">
            <h3>For {{prep.deliveryMethod| titlecase}}</h3>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="prep.paypalData" lines="none" class="client-item" >
          <ion-icon name="logo-paypal" slot="start"></ion-icon>
          <ion-label class="ion-no-margin">
            <h3>Paid By: {{prep.paypalData.payer ?? prep.paypalData.email}}</h3>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="prep.paypalData" lines="none" class="client-item" >
          <ion-icon name="receipt-outline" slot="start"></ion-icon>
          <ion-label class="ion-no-margin">
            <h3>Transaction ID: {{prep.paypalData.transactionID}}</h3>
          </ion-label>
        </ion-item>

      <ion-grid>
        <!-- <ion-row>
          <ion-col size="2.4" style="display: flex; align-items: center; justify-content: center;">
            Product
          </ion-col>
          <ion-col size="2.4" style="display: flex; align-items: center; justify-content: center;">
            Variant
          </ion-col>
          <ion-col size="2.4" style="display: flex; align-items: center; justify-content: center;">
            Quantity
          </ion-col>
          <ion-col size="2.4" style="display: flex; align-items: center; justify-content: center;">
            Total Price
          </ion-col>
          <ion-col size="2.4" style="display: flex; align-items: center; justify-content: center;">
            Stock
          </ion-col>
        </ion-row> -->
        <div style="padding:10px">
          <table style="width: 100%;">
            <tr>
              <th style="text-align: left; padding: 5px;">
                Product
              </th>
              <th style="text-align: left; padding: 5px;">
                Quantity
              </th>
              <th style="text-align: left; padding: 5px;">
                {{prep.quotation ? 'Bulk Price' : 'Total Price'}}
              </th>
              <th style="text-align: left; padding: 5px;">
                Stock
              </th>
            </tr>
            <ng-container *ngFor="let item of prep.products">
              

              <ng-container *ngIf="item.productDetails;else deletedProduct">
                <ng-container *ngIf="item.variants; else noVariant">
                  <!-- <tr *ngFor="let variant of item.variants"> -->
                  <tr>
                    <td style="padding: 5px;">
                      <!-- {{item.productDetails.name}} {{item.productDetails.variants[variant.variantIndex].variant_name}} -->
                      {{item.productDetails.name}}: <span *ngFor="let variant of item.variants"> {{variant.variant}}</span>
                    </td>
                    <td style="padding: 5px;">
                      <!-- {{variant.quantity}} -->
                      {{item.quantity}}
                    </td>
                    <td style="padding: 5px;">
                      <!-- {{(variant.bulk_price ?? item.productDetails.variants[variant.variantIndex].price * variant.quantity )| currency: "PHP"}} -->
                      {{(item.bulk_price ?? item.price * item.quantity )| currency: "PHP"}}
                    </td>
                    <td style="padding: 5px;">
                      <!-- {{item.productDetails.variants[variant.variantIndex].in_stock}} -->
                      {{item.variants[0].details.in_stock}}
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noVariant>
                  <tr>
                    <td style="padding: 5px;">
                      {{item.productDetails.name}}
                    </td>
                    <td style="padding: 5px;">
                      {{item.quantity}}
                    </td>
                    <td style="padding: 5px;">
                      {{( item.bulk_price ?? item.price * item.quantity) | currency: "PHP"}}
                    </td>
                    <td style="padding: 5px;">
                      {{item.productDetails.in_stock}}
                    </td>
                  </tr>
                </ng-template>
              </ng-container>
              <ng-template #deletedProduct>
                <tr>
                  <td colspan="4">
                    This product has been deleted
                  </td>
                </tr>
              </ng-template>
            </ng-container>
          </table>
        </div>
      </ion-grid>

      <ion-item lines="none" class="client-item" *ngIf="prep.message as specialInstructions">
        <ion-label class="ion-no-margin">
          <h3>Special Instructions: </h3>
          <h2>
            {{specialInstructions}}
          </h2>
        </ion-label>
      </ion-item>

      <ion-item lines="none" class="client-item">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label class="ion-no-margin">
          <h2>Order Due</h2>
          <h1>
            {{prep.deliveryDate | date : 'MMM d, y'}}
          </h1>
        </ion-label>
      </ion-item>
      <ion-item  lines="none" class="client-item"  *ngIf="prep.deliveryMethod == 'delivery'">
        <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label  class="ion-no-margin">
          <h3 style="margin-bottom: 5px;">
            Delivery Fee: {{prep.deliveryFee | currency: "PHP"}} 
          </h3>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="client-item" *ngIf="prep.voucherInfo as voucherInfo">
        <ion-icon name="pricetags-outline" slot="start"></ion-icon>
        <ion-label class="ion-no-margin">
          <h3>Voucher ({{voucherInfo.voucherCode}})</h3>
          <h2 *ngIf="voucherInfo.voucherDiscountType ==='flat'">
            - {{ voucherInfo.voucherDiscountValue | currency : "PHP"}}
          </h2>
          <h2 *ngIf="voucherInfo.voucherDiscountType ==='percentage'">
            - {{ voucherInfo.voucherDiscountValue}} %
          </h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="client-item">
        <ion-icon name="pricetags-outline" slot="start"></ion-icon>
        <ion-label class="ion-no-margin">
          <h3>Order Amount</h3>

          <h2>
            Total Payment  {{paymentData(prep)| currency: "PHP"}}
          </h2>

        </ion-label>
      </ion-item>

      <ion-row>
        <ion-col size="12" style="display: flex; justify-content: flex-end;">
          <ion-button (click)="done(prep)"  style="--background: green;"  >
            Done
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card-content>


  </ion-card>

</ion-content>



