::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-track:hover {
  background: #f7f7f7;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #888
}
.inner-scroll {
  scrollbar-width: thin
}


table > tbody > tr > td, table > tbody > tr > th {
  padding: 1rem;
  vertical-align: middle;
}
